@import 'bootstrap/scss/bootstrap';

@import './Login/Login.scss';
@import './Home/Home.scss';
@import './Actions/CancelButton.scss';
@import './Statistics/Statistics.scss';

.app {
    .loading {
        background: url('../assets/loading_spinner.gif') center no-repeat;
        height: 30vh;
    }
    h2 {
        margin: 1.5rem 0;
    }
}