.bar {
    fill: steelblue;

    &:hover {
        cursor: pointer;
        fill: brown;
    }
}
  
 
.axis {
    font: 10px sans-serif;

    path, line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    &.x path {
        display: none;
    }
}

.saving {
    left: calc(50% - 150px);
    opacity: .8;
    position: fixed;
    text-align: center;
    top: calc(50% - 50px);
    width: 320px;
}