.action-list {
    .editable-action {
        .pocket-name:hover, .pocket-amount:hover {
            outline: 1px solid lightgray;
            cursor: pointer;
        }

        input[name="pocketName"] {
            width: 50px;
        }
    }

    th {
        border-top: 0;
    }
}